services:
  transmission:
    image: lscr.io/linuxserver/transmission:4.1.0
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER=${TRANSMISSION_USER}
      - PASS=${TRANSMISSION_PASSWORD}
    volumes:
      - ./config:/config
      - ./watch:/watch
      - ./downloads:/downloads
    ports:
      - ${TRANSMISSION_WEB_PORT}:9091
      - ${TRANSMISSION_TORRENT_PORT}:51413
      - ${TRANSMISSION_TORRENT_PORT}:51413/udp
    restart: no
